.dark-theme{
  --color-background: #141420;
  --color-contrast-background:#353444;
  --color-contrast-dark-background:#232230;
  --color-border:#ffe81f;
  --color-fonts:#d3c9c9;
  --color-danger: #aa2424;
  --color-background-footer:#ffe81f;
  --color-footer:#141420;
}
