.light-theme{
  --color-background:#fafafa;
  --color-contrast-background:white;
  --color-contrast-dark-background:#f3f3f3;
  --color-border:#eeeeee;
  --color-fonts:black;
  --color-danger: #aa2424;
  --color-background-footer:#1b1818;
  --color-footer:white;
}
